*{padding: 0;
	margin: 0;
}
body{background-color: #eff0f4;
}
html{font-size: 62.5%
}
div.header{
	background-color: #5fc0cd;
	padding-bottom: 3.2rem;
}
.h1{position: absolute;
	left:0.5rem;
    margin-top: 0.8rem;
	font-size: 1.2rem;
	color: #F0FFFF;

}
.h2{position: absolute;
	right:0.5rem;
	margin-top: 0.8rem;
	font-size: 1.2rem;
	color: #F0FFFF;
}
.h3{position: absolute;
	font-size: 1.6rem;
	margin-top: 0.6rem;
    left: 50%;
    transform: translate(-50%);
    color:#F0FFFF;
}
div.po{width: 100%
	height: 3.2rem;
	margin-top: 1rem;

}
.po input {
	background:url(img/1.png) 0.8rem 0.7rem no-repeat;
	width: 100%;
	background-color: #fff;
	font-size: 1.5rem;
	height: 5rem;
	border: none;
	outline: none;
	padding-left: 5.6rem;
}
div.pwd{width: 100%;
        height: 2.5rem;
        margin-top: 1rem;
}
.pwd input{
	background:url(img/2.png)0.8rem 0.7rem no-repeat;
    width: 100%;
    background-color: #fff;
    font-size: 1.5rem;
	height: 5rem;
	border: none;
	outline: none;
	padding-left: 5.6rem;
}
div.login{
	width: 100%
	height:3.5rem;
	background-color: #5fc0cd;
	font-size: 1rem;
	text-align: center;
	margin-top: 3.5rem;
}
.login button{
	font-size: 1.8rem;
	line-height: 3.2rem;
	background-color: #5fc0cd;
	color: #F0FFFF;
	border: none;
	cursor: pointer;
}
div.forget
    {float: right;
	margin-top: 0.2rem;
	margin-right: 0.2rem;
	font-size: 1.2rem;
	color: #5fc0cd;
}
